@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.form_container
{
    margin-top: 5vh;
    max-width: 100%;
    background-color: aliceblue ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
    height:18rem;
    padding: 25px 10px;
}
.home_label
{
    font-size: 2rem;
    color: rgb(59, 121, 179);
    margin-top: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.file_info{
    display:block;
   text-align: center;
    color: black;
}
.form_input{
    margin-bottom: 20px;
    padding: 10px;
   
}
button{
    border: none;
    outline: none;
    background-color: rgb(59, 121, 179);
    color: aliceblue;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-radius: 5px;
}
.clear{
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

